/*CSS RESET*/
*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

/*inzio header*/

header{
    background-color: rgb(255, 106, 0);
}

.header_container{
    padding: 10px;
    align-items: center;
    display:flex;
    text-align: center;
    justify-content: space-between;
    margin:0 auto;
    width: 70%;
}

.header_container img{
    height: 100px;
    padding:20px;
}

.header_container a {
    color:white;
    font-size:25px;
    text-decoration: none;
    font-weight: 700;
}

a{
    margin:10px;
}


/* main */

.main_container{
    width: 70%;
    margin: 0 auto;
    background-color: black;
    height: 1400px;
}

.container_carte{
    margin: 60px 0px;
    height: 1400px;
    background-color: pink;
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin:30px;
}

.prodotto{
    background-color: blue;
    width: calc((100% / 3) - (60px / 3));
    border:2px white solid;
    height: calc(100% / 2);
}

.card{
    height: 80%;
    background-color: #fff;
    width: 90%;
}